body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  color: #0d1149;
  font-weight: bolder;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}